@model PAWG1.Models.EFModels.Component;

<h1>View Component</h1>

<h4>Component</h4>
<hr />
<div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" readonly/>
            </div>
            <div class="form-group">
                <label asp-for="Descrip" class="control-label"></label>
                <input asp-for="Descrip" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="TypeComponent" class="control-label"></label>
                <input asp-for="TypeComponent" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <input asp-for="Size" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="ApiUrl" class="control-label"></label>
                <input asp-for="ApiUrl" class="form-control" type="url" readonly/>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="ApiKey" class="control-label"></label>
                <input asp-for="ApiKey" class="form-control" readonly/>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input value="@(Model.State ? "Active" : "Disable")"  class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="AllowedRole" class="control-label"></label>
                <input asp-for="AllowedRole" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Simbol" class="control-label col-md-12"></label>
                <img src="data:image/png;base64,@Convert.ToBase64String(Model.Simbol)" alt="Component Icon" class="img-fluid" />
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Go Back</a>
</div>