@model PAWG1.Models.EFModels.User

<h1>Edit User</h1>

<h4>User</h4>
<hr />
<form asp-controller="User" asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="IdUser" />
    <div class="form-group">
        <label asp-for="Username" class="control-label"></label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" type="email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>

    </div>


    <div class="form-group">
        <label asp-for="IdRole" class="control-label">Rol</label>
        <select asp-for="IdRole" class="form-control">
            @foreach (var role in ViewBag.Roles)
            {
                <option value="@role.IdRole">@role.Name</option>
            }
        </select>
        <span asp-validation-for="IdRole" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="State" class="control-label">Active</label>
        <input asp-for="State" class="form-check-input border border-dark" type="checkbox" />
        <span asp-validation-for="State" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group text-center">
        <input type="submit" value="Edit" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
