
<script src="~/js/loadDashboard.js"></script>

<div id="timeRefresh" style="visibility:hidden">
    @ViewBag.timeRefresh.TimeRefresh1
</div>

<div id="title_favorite"></div>
<div class="row" id="favorites"></div>

<div id="title_weather"></div>
<div class="row" id="weather"></div>

<div id="title_exchange"></div>
<div class="row" id="exchange"></div>

<div id="title_news"></div>
<div class="row" id="news"></div>

<div id="title_hidden"></div>
<div class="collapse" id="collapseExample">
    <div class="row" id="hidden"></div>
</div>
